header{
    font-size: 50px;
    border-bottom: 5px solid black;
    padding: 15px; margin: 0px;
    text-align: center;
}

body{
    color: black;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
}

input{
    padding: 0px; margin: 0px;
}

#그리드 ol{
    border-right: 5px solid black;
    padding: 15px 30px; margin-right: 45px;
}

#그리드{
    display: grid;
    grid-template-columns: 200px 1fr;
}

@media(max-width:850px){
    #그리드{
        display:block;
    }
    #그리드 ol{
        border-right: none;
    }
}
